<h1>Preencha suas informações:</h1>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="usuario.nome" #nome="ngModel">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="usuario.email" #email="ngModel">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="cpf">CPF</label>
      <input type="text" class="form-control" id="cpf" name="cpf" [(ngModel)]="usuario.cpf" #email="ngModel">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="login">Login</label>
      <input type="text" class="form-control" id="login" name="login" [(ngModel)]="usuario.login" #email="ngModel">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="login">Senha</label>
      <input type="password" class="form-control" id="login" name="login" [(ngModel)]="usuario.senha">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="senhaConfirm">Confirmar senha</label>
      <input type="password" class="form-control" id="senhaConfirm" name="senhaConfirm">
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <label for="sobreMim">Sobre mim:</label>
    <textarea class="form-control" id="sobreMim" name="sobreMim" [(ngModel)]="usuario.sobreMim"></textarea>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="inserir()">
        <i class="fa fa-save" aria-hidden="true"></i> Salvar
      </button>
      <a class="btn btn-secondary" [routerLink]="['/login']">
        <i class="fa" aria-hidden="true"></i> Voltar
      </a>
    </div>
  </div>
</div>
