<h1>Inserir Usuário</h1>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text" class="form-control" id="nome" name="nome" [(ngModel)]="usuario.nome" #nome="ngModel">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" name="email" [(ngModel)]="usuario.email" #email="ngModel">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="cpf">CPF</label>
      <input type="text" class="form-control" id="cpf" name="cpf" [(ngModel)]="usuario.cpf" #email="ngModel">
    </div>
  </div>
</div> 
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="login">Login</label>
      <input type="text" class="form-control" id="login" name="login" [(ngModel)]="usuario.login" #email="ngModel">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="login">Senha (provavel seja enviado email pro usuario configurar a propria senha)</label>
      <input type="password" class="form-control" id="login" name="login" [(ngModel)]="usuario.senha">
    </div>
  </div>
  <div class="col-md-4">
    <div class="form-group">
      <label for="tipo">Tipo de Usuário</label>
      <select class="form-control"  [(ngModel)]="usuario.tipoUsuario">
        <option value="1">Comum</option>
        <option value="2">Professor</option>
        <option value="3">Professor Administrador (Instituição)</option>
        <option value="4">Adminstrador</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <label for="instituicao">Instituição</label>
      <ng-select name="cidades" bindvalue="id" [items]="instituicoes" bindLabel="nome" [(ngModel)]="instituicao" class="form-control"></ng-select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <button type="button" class="btn btn-primary" (click)="inserir()">
        <i class="fa fa-save" aria-hidden="true"></i> Salvar
      </button>
      <a class="btn btn-secondary" [routerLink]="['/usuarios']">
        <i class="fa" aria-hidden="true"></i> Voltar
      </a>
    </div>
  </div>
</div>
