<div class="row">
  <div class="col-md-4">
    <label for="login">Login:</label>
    <input [(ngModel)]="login" type="text" id="login" name="login" class="form-control"/>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
    <label for="login">Senha:</label>
    <input [(ngModel)]="senha" type="password" id="senha" name="senha" class="form-control" />
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    <button class="btn btn-success" (click)="entrar()">
      Entrar
    </button>
    <button class="btn btn-second">
      Registrar-se
    </button>
  </div>
 
</div>
