<div class="row">
  <div class="col-md-12">
    <a class="btn btn-success" [routerLink]="['/inserir-usuario']">
      <i class="fa" aria-hidden="true"></i> Novo
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Email</th>
          <th>CPF</th>
          <th>Login</th>
          <th>Tipo Usuario</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td> {{ usuario.nome }} </td>
          <td> {{ usuario.email }} </td>
          <td> {{ usuario.cpf }} </td>
          <td> {{ usuario.login }} </td>
          <td> {{ getTipoUsuario(usuario.tipoUsuario) }} </td>
          <td><button class="btn btn-danger" (click)="excluir(usuario.id)">Excluir</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
